:root {    
  --small-radius: 0.7em;
  --mid-radius: 1.4em;
  --large-radius: 2.0em;  
  --header-height: 6em;
  --nav-menu-width: 5em;
  --small-icon-height: 1.5em;
  --side-nav-icon-height: 1.6em;
  --nav-icon-height: 2.2em;
  --small-avatar-height: 3.3em;
  --large-avatar-height: 5.75em;
  --button-height: 2.0em;  
  --small-font-size: 0.80em;
  --normal-font-size: 1.0em;
  --medium-font-size: 1.15em;
  --large-font-size: 1.3em;
  --huge-font-size: 1.5em;  
  --side_nav_width: 20em;
  --edge-width: 0.08em;
  --bottom_pane_height: 4.0em;
  --margin-very-large: 4em;
  --margin-large: 3em;  
  --margin-medium: 2em;
  --margin-small: 1em;
  --margin-tiny: 0.5em;
  --mom-width: 45em;
  --side-menu-margin: 1.6em;
}

body {
	max-width: 1024px;
	font-family: Raleway;
  margin: auto;
  background-color: #3e4b69;
}

ul{
  margin-left:4px;
}

li{
  margin-left:4px;
}

.vertical_center_content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.header1 {
  font-family: Raleway;
  color: #555;
  margin: 20px 50px;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 0px 0px 5px black;
}

.pagelink {
	font-family: Raleway;
	color: #9ff2ff;
	text-decoration: none;
  margin: 10px 20px ;
  text-shadow: 0px 0px 3px black;
  cursor: pointer;
}

.top {
	border: none;
	height: 2px;
	background-color: #555; /* Modern Browsers */
}

.paragraph {
	border: none;
	height: 2px;
	background-color: #3887ca; /* Modern Browsers */
}

h1 {
	font-family: Raleway;
	/*margin: 30px 50px;*/
  color: #222;
}

.content {
	font-family: Raleway;
	width: 80%;
	margin: 20px auto;
	color: #222;
	line-height: 1.5em;
	box-shadow: 0px 0px 15px #0008;
	padding: 40px 40px ;
	border-radius: 25px;
	background-color: #fbfaf7;
}

.rounded_shade_button, .normal_button {
  -webkit-appearance: none;
  border-radius: var(--small-radius);
  background-color: var(--high-bg-color);
  border: 2px solid var(--edge-color);
  min-height: var(--button-height);
  display: inline-block;
  text-align: center;
  letter-spacing: 0.05em; 
  padding: 0.5em 1.80em;
  box-sizing: border-box;
  user-select: none;

  font-size: var(--normal-font-size);
  cursor: pointer;
  margin: 0.25em;
  color: var(--dark-text-color);
}

.rounded_shade_value, .rounded_shade_input{
  -webkit-appearance: none;
  border-radius: var(--mid-radius);
  background-color: var(--gray-high-color);    
  text-align: center;
  letter-spacing: 0.05em;
  padding: 1.1em;
  box-sizing: border-box;
  user-select: none;

  font-size: var(--normal-font-size);
  border: 0em solid transparent;
  margin: 0.25em;
  color: var(--dark-text-color);
  min-height: var(--button-height);
  border: var(--edge-width) solid var(--edge-color);
}

.normal_button , .rounded_shade_input{  
  min-height: var(--button-height);
  display: inline-block;
  cursor: pointer;
}

.light_control:-webkit-autofill,
.light_control:-webkit-autofill:hover, 
.light_control:-webkit-autofill:focus{
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}


.light_control {
  border: 2px solid var(--high-bg-color);
  background-color: transparent;/*var(--high-bg-color);*/
  color: var(--high-bg-color);
}

.light_input {
  background-color: var(--high-bg-color);
  border: var(--edge-width) solid var(--quarter-edge-color);
}

.light_control:hover {
  border: 2px solid var(--gray-high-color);
  background-color: var(--high-bg-color);
  color: var(--dark-text-color);
}

.filled_light_control {
  border: 2px solid var(--high-bg-color);
  background-color: var(--high-bg-color);
  color: var(--dark-text-color);
}

.filled_light_control:hover {
  border: 2px solid var(--gray-high-color);
  background-color: var(--high-bg-color);

  color: var(--dark-text-color);
}

.transparent_control {
  background-color: transparent;
  border: var(--edge-width) solid transparent; 
  color: var(--dark-text-color); 
}

.transparent_control:hover {
  background-color: transparent;
  border: var(--edge-width) solid transparent;  
  color: var(--dark-text-color);
}

.alert_control {
  background-color: var(--high-bg-color);
  color: var(--accent3-low-color);
  border: 2px solid var(--accent3-low-color);
  font-weight: bold;
}

.alert_control:hover {
  background-color: var(--accent3-low-color);
  color: var(--light-text-color);
  border: 2px solid var(--accent3-low-color);
}

.filled_alert_control {
  background-color: var(--accent3-low-color);
  color: var(--light-text-color);
  border: 2px solid var(--accent3-low-color);

  font-weight: bold;
}

.filled_alert_control:hover {
  background-color: var(--high-bg-color);
  color: var(--accent3-low-color);
  border: 2px solid var(--accent3-low-color);
}

.dark_control {
  background-color: var(--high-bg-color);
  border: 2px solid var(--accent2-low-color);
  color: var(--accent2-low-color);
  /*border: 0.15em solid transparent;*/
}

.dark_control:hover {
  background-color: var(--accent2-low-color);
  color: var(--light-text-color);
  border: 2px solid var(--accent2-low-color);
  /*border: 0.15em solid transparent;*/
}

.filled_dark_control {
   /* var(--high-bg-color);*/
  border: 2px solid var(--accent2-low-color);  

  background-color: var(--accent2-low-color);
  color: var(--light-text-color);  
}

.filled_dark_control:hover {
  border: 2px solid var(--accent2-low-color);
  color: var(--accent2-low-color);
  background-color: var(--high-bg-color);
}

th {
	text-align: left;
}

td {
	text-align: left;
}

a {
	color: #12a8bf;
}

.popup_back{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--popup-back-bg-color);
  width: 100%;
  height: 100%;
  z-index: 11;
  padding: 2em;
  box-sizing: border-box;
}

.popup_frame{
  margin: 0 auto;
  border-radius: var(--mid-radius);
  border: var(--edge-width) solid var(--edge-color);
  background-color: var(--high-bg-color);
  box-shadow: 0em 0.15em 0.4em #00000044;
  padding: var(--margin-large);  
  max-height: 100%;
  overflow: auto;
  color: var(--dark-text-color);  
  width: max-content;
  max-width: 96%;  
  box-sizing: border-box;
  position: relative;
}

.fade_in {
  animation: fadeIn ease 0.4s;
}

.fade_out {
  animation: fadeOut ease 0.4s;
  opacity: 0;
}

.zoom_in {
  animation: zoomIn ease 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}

