<input type="button" value="create blog" onclick=onCreateBlogClicked()>
<div class="fade_in" id="blog_content">
  <div class="content" id="content">
	  <center><h1>Empty</h1></center>	
	  
  </div>
</div>
