<div style="max-width: 60em;"> 
  <div style="height: 1em"></div>
  <div id="quill_editor"></div>
  <div style="height: 2em"></div>
  <input style="float: right;" class="rounded_shade_button dark_control" type="button" value="Close" onclick="closePopup()">
  <input style="float: right;" class="rounded_shade_button filled_dark_control" type="button" value="Save and Close" id="save_note_button">
  <p id="message" class="message"></p>
  <div style="height: 2em"></div>
</div>
 
