<div class="fade_in">
  <div class="content">
	  <center>
		  <h1>Contact</h1>
		  <h3>E-Mail</h3>
		  <a href="mailto:magnusmj@gmail.com" target="_blank">magnusmj@gmail.com</a>
		  <h3>Phone</h3>
		  +45 61313181
		  <h3>Telegram</h3>
		  <a href="https://t.me/contactpracedru" target="_blank">Magnus contact group</a>
		  <h3>LinkedIn</h3>
		  <a href="https://www.linkedin.com/in/magnus-j%C3%B8rgensen-2b022a3" target="_blank">Magnus on LinkedIn</a>
	  </center>
  </div>
</div>
