<div class="popup_back fade_in" onmousedown="onPopupBackgroundClicked(event)">
  <div style="box-sizing: border-box;" class="vertical_center_content" onmousedown="onPopupBackgroundClicked(event)">
    <div class="popup_frame zoom_in" id="popup_frame">
      <h1  id="popup_heading">Heading</h1>
      <div id="popup_content">

      </div>
    </div>
  </div>    
</div>
