<div class="fade_in">
  <div class="content">
	  <center><h1>Portfolio</h1></center>
	  <p>
		  These are some programs that i have programmed in my spare time and that i have open sourced.		
		  My open source projects can all be found <a target="_blank" href="https://gitlab.com/magnusmj">here</a>			
	  </p>
  </div>

  <div class="content">
	  <center><h1>Folkfinder</h1></center>
	  <p>
		  This program makes the user able to categorize their pictures in a non intrusive way.
		  The program will not change or move any pictures, rather it builds a kind of picture mind map.
		  The program can find faces in your picture library with a simple deep neural network library.
	  </p>
	  <center><img src="img/folkfinder.png" width="90%" /></center>
	  <p>
		  <ul>
			  <li class="indented">Source code can be found <a target="_blank" href="https://gitlab.com/folkfinder/folkfinder">here</a></li>
			  <li class="indented">Programmed in python using Qt5.</li>
			  <li class="indented">Deep neural network library using OpenCV.</li>
			  <li class="indented">Multithreading without GIL using QThread.</li>
		  </ul>
	  </p>
  </div>

  <div class="content">
	  <center><h1>Pracedru Design</h1></center>
	  <p>
		  This program is an experiment with a more integrated parametry for CAD design. 
		  The parametry is inherited in to the children of each part. With a top project parametry that everything can reference.
		  Mostly the sketcher works though.					
	  </p>
	  <center><img src="img/pracedrudesign.png" width="90%"/></center>
	  <p>
		  <ul>
			  <li class="indented">Source code can be found <a target="_blank" href="https://gitlab.com/magnusmj/PracedruDesign">here</a></li>
			  <li class="indented">Programmed in python using Qt5 and OpenGL</li>
			  <li class="indented">Parametric CAD program</li>
		  </ul>
	  </p>
  </div>

  <div class="content">
	  <center><h1>Off the ramp</h1></center>
	  <p>
		  This is a small game experiment with a racing car.
	  </p>
	  <center><img src="img/offtheramp.png" width="90%"/></center>
	  <p>
		  <ul>
			  <li class="indented">Source code can be found <a target="_blank" href="https://gitlab.com/magnusmj/offtheramp">here</a></li>
			  <li class="indented">Made with Godot and programmed with GDScript.</li>
		  </ul>
	  </p>
  </div>

  <div class="content">
	  <center><h1>Ironball</h1></center>
	  <p>
		  This is a game for smart phones that is inspired by a Classic Amiga game called Speedball.
	  </p>
	  <center><img src="img/ironball.jpeg" width="90%" style="max-width: 24em;"/></center>
	  <p>
		  <ul>
			  <li class="indented">Source code can be found <a target="_blank" href="https://gitlab.com/magnusmj/ironball">here</a></li>
			  <li class="indented">The game can be tried <a target="_blank" href="https://ironball.pracedru.dk/index.html">here</a></li>
			  <li class="indented">Made with node.js and programmed with javascript.</li>
			  <li class="indented">Almost entirely html5 canvas based.</li>
			  <li class="indented">Networking done with websockets.</li>
		  </ul>
	  </p>
  </div>

  <div class="content">
	  <center><h1>Mobile Chat</h1></center>
	  <p>
		  This is a small implementation of a instant chat application for smartphones/tablets/desktops.
	  </p>
	  <center>
		  <img src="img/mc1.png" width="90%" style="max-width: 24em;"/>
		  <img src="img/mc2.png" width="90%" style="max-width: 24em;"/>
		  <img src="img/mc3.png" width="90%" style="max-width: 24em;"/>
	  </center>
	  <p>
		  <ul>
			  <li class="indented">Source code can be found <a target="_blank" href="https://gitlab.com/magnusmj/mobilechat">here</a></li>
			  <li class="indented">The app can be tried <a target="_blank" href="https://mobilechat.pracedru.dk/">here</a></li>
			  <li class="indented">Made with node.js and programmed with javascript.</li>
			  <li class="indented">UI made with Angular.</li>
			  
		  </ul>
	  </p>
  </div>
</div>
