<div class="fade_in">
  <div class="content" id="content">
	  <center><h1>About Me</h1></center>	
	  <center><img src="img/mig.jpg" width="280" height="300"/></center>
	  <p>
		  I am a 41 year old mechanical engineer and software developer from Copenhagen.
		  I have worked on automated CAD/CAM systems and business it integrations for 10 years.
		  I have also worked with Finite element analysis and structural design during this period.
		  On the it front I have worked with web services, data bases, software integration and application design.
	  </p>
	  
	  <table align="center">
		  <tr>
			  <th width="40%">Date of birth</th>
			  <td>:</td>
			  <td>18-Jan-1979</td>
		  </tr>
		  <tr>
			  <th>Nationality</th>
			  <td>:</td>
			  <td>Danish</td>						
		  </tr>
		  <tr>
			  <th>Status</th>
			  <td>:</td>
			  <td>Single</td>
		  </tr>
		  <tr>
			  <th>Language</th>
			  <td>:</td>
			  <td>Danish, English, French(poorly), Spanish(poorly)</td>
		  </tr>
	  </table>
  </div>
  <div class="content">
	  <center><h1>Education</h1></center>
	  <p>
		  <ul>		
			  <li class="indented">2000-2002 HTX Ballerup</li>
			  <li class="indented">2002-2006 BSc Mechanical engineering</li>
			  <li class="indented">2010-2015 Master Electrical engineering (not finished)</li>
		  </ul>
	  </p>
  </div>
  <div class="content">
	  <center><h1>Skills</h1></center>
	  <center><h2>Software development</h2></center>
	  <p>
		  <ul>						
			  <li class="indented">Excellent C#, Visual Basic, .net/mono and COM knowledge and experience.</li>
			  <li class="indented">Excellent Java knowledge and experience.</li>
			  <li class="indented">Excellent Python knowledge and experience.</li>
			  <li class="indented">Excellent Javascript and NodeJS knowledge and experience.</li>
			  <li class="indented">Excellent c/c++, MSVC/MFC and Qt knowledge and experience.</li>					
			  <li class="indented">Scripting knowledge and experience.
				  <ul>
					  <li class="indented">VBScript and Batch scripting</li>
					  <li class="indented">BASH scripting</li> 
					  <li class="indented">APDL scripting</li> 
				  </ul>
			  </li>
			  <li class="indented">Moderate Fortran knowledge and experience.</li>
			  <li class="indented">Moderate Fortran knowledge and experience.</li>
		  </ul>
		  <center><h2>System Administration</h2></center>
		  <ul>
			  <li class="indented">Excelent Windows knowledge and experience.</li>
			  <li class="indented">Excelent Linux knowledge and experience.</li>
			  <li class="indented">Moderate MacOS knowledge and experience.</li>
		  </ul>
		  <center><h2>Mechanical engineering</h2></center>
		  <ul>
			  <li class="indented">Finite element analysis using Ansys and COMSOL.</li>
			  <li class="indented">Analysis using Excel, Maple, Mathlab, MathCAD.</li>
			  <li class="indented">Construction using VVD and PVElite.</li>
			  <li class="indented">CAD/CAM using Autodesk Inventor, Autodesk AutoCAD and Onshape.</li>
			  <li class="indented">Scientific numerical analysis with Python, Mathlab, Fortran and many other languages.</li>
		  </ul>
	  </p>
  </div>
  <div class="content">
	  <center>
		  <h1>Experience</h1>
	  </center>
	  <p>
		  <ul>
			  <li class="indented">2005-2006 Haldor Topsoe construction.</li>
			  <li class="indented">2006-2008 Haldor Topsoe Finite Element Analysis.</li>
			  <li class="indented">2008-2015 Haldor Topsoe IT systems developer.</li>
			  <li class="indented">2015-2017 Haldor Topsoe FiniteElement Analysis.</li>
		  </ul>
	  </p>
  </div>
</div>
